<!DOCTYPE html>
<html>
<head>
  <title>Book Inventory</title>
</head>
<body>
{% if matches %}
  <h2>{{ matches|length }} Result(s):</h2>
  {% for match in matches %}
    <div>
        {{ match }}, Category: {{ match.category }}
    </div>
  {% endfor %}
{% endif %}

<form action="{% url 'home' %}" method="post">
  {% csrf_token %}
  {{ search_form.as_p }}
  <button type="submit">Submit</button>
</form>
  {% for book in books %}
    <p>{{ book }}, Category: {{ book.category }}</p>
  {% endfor %}
</body>
</html>